@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Kdam+Thmor+Pro&display=swap');

  * {
    margin: 0;
    padding: 0;
    border: none;
}



body {
    font-family: Kanti, sans-serif;
    font-weight: 300;
}

/* heading and link styles*/

#menu {
    font-size: 150%;
    letter-spacing: 3px;
}

#menu li {
    float: right;
    margin-right: 50px;
    margin-top: 25px;
    list-style: none;
    font-family: Kdam Thmor Pro, sans-serif;
    
}

#menu a {
    text-decoration: none;
    color: whitesmoke;
}

h1, h2 {
    font-family: Kdam Thmor Pro, sans-serif;
    letter-spacing: -1px;
    text-transform: uppercase;
}

#head {
    float: left;
    font-size: 500%;
    text-decoration: none;
}

header h1 {
    color: whitesmoke;
}

#menu a:hover {
    color: black;
}


/* image */

#anime-image {
    width: 100%;
    height: 950px;
    background: url("../images/crossover.jpg") no-repeat center center;
    
}

#anime-outside {
    width: 100%;
    height: 950px;
    overflow: hidden;
}

/* quote boxes */

#deku {
    color: #3C6383;
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: left;
    
    width: 230px;
    height: 330px;

    padding-top: 10px;
    padding-left: 25px;
      
    background-color: rgba(147, 242, 147, 0.6);

    bottom: -137px;

    position: absolute;
}

#luffy {
    color: #333131;
    font-size: 130%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    
    width: 230px;
    height: 522px;


    padding-left: 25px;
    padding-right: 10px;
    
    
    background-color: rgb(255,112,132,0.6);

    bottom: -137px;
    left: 370px;

    position: absolute;
}

#goku {
    color: whitesmoke;
    font-size: 130%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    
    width: 230px;
    height: 235px;

    padding-left: 5px;
    padding-right: 5px;
    
    background-color: rgba(53, 72, 176, 0.5);

    bottom: -137px;
    left: 758px;

    position: absolute;
}

#naruto {
    color: black;
    font-size: 130%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    
    width: 230px;
    height: 380px;


    padding-left: 5px;
    padding-right: 5px;
    
    
    background-color: rgba(235, 149, 50, .5);

    bottom: -137px;
    right: 517px;

    position: absolute;
}

#tanjiro {
    color: whitesmoke;
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: right;
    
    width: 230px;
    height: 380px;

    padding-top: 10px;
    padding-left: 25px;
      
    background-color: rgba(0, 106, 255, 0.3);

    bottom: -137px;
    right: 0;
    
    position: absolute;
}