@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Kdam+Thmor+Pro&display=swap');

  * {
    margin: 0;
    padding: 0;
    border: none;
}



body {
    font-family: Kanti, sans-serif;
    font-weight: 300;
    width: 100%;
}

/* heading and link styles*/

#link {
    font-size: 150%;
    letter-spacing: 3px;
}

#link li {
    float: right;
    margin-top: 50px;
    margin-left: 50px;
    list-style: none;
    font-family: Kdam Thmor Pro, sans-serif;
    font-size: 125%;
    
}

#link a {
    text-decoration: none;
    color: black;
}

h1, h2 {
    font-family: Kdam Thmor Pro, sans-serif;
    letter-spacing: -1px;
    text-transform: uppercase;
}

#title {
    float: left;
    font-size: 500%;
    text-decoration: none;
}

header h1 {
    color: black;
}

#link a:hover {
    text-decoration: underline;
}


/* image */

#anime-image {
    width: 100%;
    height: 950px;
    background: url("../images/crossover.jpg") no-repeat center center;
}

#anime-h2 {
    color: #FFE8FF;
    background-color: rgba(115, 172, 173, 0.6);
    text-transform: capitalize;
    font-size: 275%;
    text-align: center;
}

#anime-body {
    width: 100%;
    height: 950px;
    overflow: hidden;
}

/* Quote boxes from characters*/

#character-deku {
    color: #3C6383;
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: left;
    
    width: 230px;
    height: 330px;

    padding-top: 10px;
    padding-left: 25px;
      
    background-color: rgba(147, 242, 147, 0.6);

    bottom: -137px;

    position: absolute;
}

#character-luffy {
    color: #333131;
    font-size: 130%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    
    width: 230px;
    height: 522px;


    padding-left: 25px;
    padding-right: 10px;
    
    
    background-color: rgb(255,112,132,0.6);

    bottom: -137px;
    left: 370px;

    position: absolute;
}

#character-goku {
    color: whitesmoke;
    font-size: 130%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    
    width: 230px;
    height: 235px;

    padding-left: 5px;
    padding-right: 5px;
    
    background-color: rgba(53, 72, 176, 0.5);

    bottom: -137px;
    left: 758px;

    position: absolute;
}

#character-naruto {
    color: black;
    font-size: 130%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    
    width: 230px;
    height: 380px;


    padding-left: 5px;
    padding-right: 5px;
    
    
    background-color: rgba(235, 149, 50, .5);

    bottom: -137px;
    right: 517px;

    position: absolute;
}

#character-tanjiro {
    color: whitesmoke;
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: right;
    
    width: 230px;
    height: 380px;

    padding-top: 10px;
    padding-left: 25px;
      
    background-color: rgba(0, 106, 255, 0.3);

    bottom: -137px;
    right: 0;
    
    position: absolute;
}

/* Anime story */

.facts-suggestion {
    font-family: Kdam Thmor Pro, sans-serif;
    letter-spacing: -1px;
    text-transform: uppercase;
    background-color: black;
    color: whitesmoke;
    font-size: 500%;
    text-align: center;
    padding-top: 100px;
}

.facts-suggestion-2 {
    font-family: Kdam Thmor Pro, sans-serif;
    letter-spacing: -1px;
    text-transform: uppercase;
    background-color: black;
    color: whitesmoke;
    font-size: 500%;
    text-align: center;
    padding-top: 100px;
}


.how-to-start {
    color: whitesmoke;
    background-color: black;
    text-align: center;
    font-size: 200%;
    font-family: Kanti, sans-serif;
}

/* Icons and footer*/

footer {
     color: whitesmoke;
    background-color: black;
    text-align: center;
    font-size: 125%;
    font-family: Kanti, sans-serif;
    height: 350px;
    list-style: none;
    padding-top: 175px;
}

.socials {
    text-align: center;
    list-style: none;
    margin-top: 100px;
}

.socials li {
    display: inline;
    font-size: 50px;
}

.socials a {
    color: whitesmoke;
    list-style: none;

    margin: 1%;
    padding: 2.5%;
}

/* For tablets */

@media screen and (max-width: 1200px){
    
    #home {
        width: 1200;
        height: 65%;
        margin: 0 auto;
    }
    
    #title {
        padding: 0;
        margin: 0;
    }

    #menu {
        width: 100%;
        padding: 0;
    }

    #anime-head {
        width: 100%;
        height: 70px;
    }

    #anime-image {
        width: 100%;
        height: 960px;
    }

    #character-deku {
        width: 17%;
        height: 140px;
        text-align: left;
        font-size: 12.5px; 
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: -150px;
        position: absolute;
    }

    #character-luffy {
        width: 18.4%;
        height: 150px;
        text-align: center;
        font-size: 11.5px;
        padding-left: 5px;
        padding-right: -5px;
        margin-bottom: -150px;
        margin-left: -159px;
        position: absolute;
    }

    #character-goku {
        width: 25%;
        height: 150px;
        text-align: center;
        font-size: 16px;
        padding-left: 5px;
        margin-left: -315px;
        margin-bottom: -150px;
    }

    #character-naruto {
        width: 18.4%;
        height: 150px;
        text-align: center;
        font-size: 13px;
        padding-left: 5px;
        margin-right: -311px;
        margin-bottom: -150px;
    }

    #character-tanjiro {
        width: 17%;
        height: 140px;
        text-align: right;
        font-size: 12.5px;
        padding-left: 5px;
        margin-right: 0;
        margin-bottom: -150px;
    }

    .anime-h2  {
        width: 100%;
        font-size: 90px;
        text-align: center;
        margin-top: 0;
        padding-top: 150px;
        
    }

    .how-to-start {
        width: 100%;
        text-align: center;
    }

    .facts-suggestion {
        width: 100%;
        padding-top: 200px;
    }

    .socials {
        width: 100%;
        text-align: center;
        padding-bottom: 50px;
    }
}

/* For phones */

@media screen and (max-width: 600px) {
    
    #home {
        width: 100%;
        height: 100px;
        margin: 0 auto;  
        font-size: 9px;   
         
    }

    #title {
        width: 100%;
        height: 20px;
    }

    #anime-image {
        width: 100%;
    }

    #anime-h2 {
        width: 100%;
        height: 140px;
        text-align: center;
    }

    #character-deku {
        width: 15%;
        height: 140px;
        font-size: 9px;
        padding-bottom: 7px;
        text-align: left;
    }

    #character-luffy {
        width: 20%;
        height: 157px;
        font-size: 8.8px;
        text-align: center;
        margin-top: 50px;
        margin-left: -273px;
        
    }

    #character-goku {
        width: 21.6%;
        height: 124px;
        font-size: 12px;
        text-align: center;
        padding-bottom: 34px;
        margin-left: -530px;
    }
    #character-naruto {
        width: 20%;
        height: 123px;
        font-size: 10px;
        text-align: center;
        padding-bottom: 34px;
        margin-right: -425px;
    }

    #character-tanjiro {
        width: 15%;
        height: 147px;
        font-size: 8px;
        
    }

    .facts-suggestion {
        width: 100%;
        font-size: 40px;
        padding-top: 170px;
        
    }

    .facts-suggestion-2 {
        width: 100%;
        font-size: 40px;
        padding-top: 10px;
    }

    .how-to-start {
        width: 100%;
        font-size: 25px;
        text-align: center;
        padding-top: 20px;
    }

    .socials {
        width: 100%;
        text-align: center;
        padding: 25px;
        
    }
}

/* Iphone 12 Pro */
@media screen and (max-width: 390px) {
    #home {
        width: 100%;
        margin: 0 auto;
    }

    #title {
        width: 100%;
        height: 20px;
        padding-top: 10px;
        
    }

    #link li {
        width: 100%;
        font-size: 100%;
        text-align: right;
        letter-spacing: 1px;
        margin: 5px;
    }

    #anime-image {
        width: 100%;
    }

    #anime-h2 {
        width: 100%;
        height: 100px;
        text-align: center;
        font-size: 30px;
    }

    #character-deku {
        width: 100%;
        height: 30px;
        font-size: 11px;
        padding-bottom: 21px;
        text-align: center;
    }

    #character-luffy {
        width: 100%;
        height: 70px;
        font-size: 10px;
        text-align: center;
        margin-left: -370px;
        margin-bottom: -220px;
    }

    #character-goku {
        width: 100%;
        height: 25px;
        font-size: 12px;
        text-align: center;
        margin-left: -757px;
        margin-bottom: -279px;
    }
    #character-naruto {
        width: 100%;
        height: 15px;
        font-size: 10px;
        text-align: center;
        margin-right: -520px;
        margin-bottom: -328px;
    }

    #character-tanjiro {
        width: 100%;
        height: 40px;
        font-size: 10px;
        margin-bottom: -382px;
        text-align: center;
    }

    .facts-suggestion {
        width: 100%;
        font-size: 40px;
        padding-top: 300px; 
    }

    .facts-suggestion-2 {
        width: 100%;
        font-size: 40px;
        padding-top: 100px; 
    }

    .how-to-start {
        width: 100%;
        font-size: 25px;
        text-align: center;
        padding-top: 20px;
    }

    .socials li {
        width: 100%;
        font-size: 15px;
    }

    footer {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 0;
    }
}